/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* nav bar start */
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/* nav bar end */

/* title start */
#title .container-fluid {
  padding: 3% 15% 7%; /*top: 3%; right&left:15%; bottom:7%*/
  text-align: left;
}

/* download button start */
.download-button {
  margin: 5% 3% 5% 0;
}
/* download button end */

/* title image start*/
.title-img {
  width: 60%;
  transform: rotate(27deg);
  position: absolute;
  right: 20%;
}

/* title image end*/
/* title end */

/* features start */
#features {
  padding-right: 226px;
  padding-left: 226px;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.featureSupportedContent {
  padding: 5%;
}

.feature-icon {
  font-size: 50px;
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}
/* features end */

/* testimonials start */
#testimonials {
  background-color: #ef8172;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* testimonials end */

/* press start */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* press end */
/* pricing start */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-deck {
  padding-top: 3.125rem;
}

pricingSupportedContent {
  padding: 3% 2%;
}

/* pricing end */

/* cta start */

/* cta end

/* footer start */
.social-icon {
  margin: 20px 10px;
}
/* footer end */

/* media qeure */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
